@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&family=Rowdies:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: whitesmoke;
}

.cont {
    width: 100%;
    height: 50vh;
    background-image: radial-gradient(rgba(0, 0, 0, 0.5) , rgba(0, 0, 0, 0.5)) , url('headerbg.jpg');
    background-position: center;
    object-fit: cover;
    background-size: cover;
    position: relative;
    padding: 10px;
    background-attachment: fixed;
    background-position: bottom;
}

.header {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 45%;
    transform: translateX(-50%);
    padding: 5px;
    padding-bottom: 70px;
    padding-left: 550px;
}

a {
    font-size: 20PX;
    color: rgb(77, 207, 224);
    text-decoration: none;
    padding-right: 10px;
    margin-left: 30px;
    font-family: "Press Start 2P", system-ui;
    font-style: normal;
    transition:0.3s ease-in-out;
    border-radius: 30px;
    padding: 10px;
    text-shadow: 0 0 0px rgb(94, 222, 254);
    transition: text-shadow 0.2s ease-in-out;
}
.contactt {
    font-size: 35px;
}
a:hover {
    text-shadow: 0 0 7px rgb(94, 222, 254);
}

.section-a {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    transition:0.3s ease-in-out;
}
.section-a:hover {
    background-color: rgb(138, 228, 250);
}
.box {
        text-align: center;
        width: 50%;
}
h1, p {
    padding-top: 50px;

}

h1 {
    font-size: 60px;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.par {
    color: grey;
    line-height: 30px;
}
.section-b {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 100px;

}

.boxes {
    width: 70%;
    border: 1px solid rgb(82, 168, 248);
    border-radius: 20px;
    background-color: rgb(138, 228, 250);
    transition: 0.3s ease-in-out;
}
.boxes:hover {
    box-shadow: 0 0 30px 10px rgb(138, 228, 250);
}
input {
    width: 60%;
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    background-color: rgb(138, 228, 250);
    margin-top: 20px;
}
input::placeholder {
    font-size: 20px;
}
textarea {
    width: 60%;
    height: 100px;
    margin-left: 50px;
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    background-color: rgb(138, 228, 250);
}
textarea::placeholder {
    padding: 15px;
    font-size: 20px;
}
.send {
    width: 100px;
    height: 40px;
    margin-top: 40px;
    margin-left: 350px;
    border: 1px solid;
    border-color:  rgb(0, 161, 201);
    background-color: white;
    color:  rgb(0, 161, 201);
    transition: 0.3s ease-in-out;
}
.send:hover {
    background-color: rgb(42, 82, 210);
    color: white;
    cursor: pointer;
}
.add {
    color: rgb(18, 54, 173);
    padding-top: 15px;
    font-size: 30px;
    margin-left: 35px;
}
.twooo {
    width: 70%;
}
.adddesc {
    width: 50%;
    line-height: 25px;
    margin-left: 35px;

}
.sub {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.a {
    margin-top: 70px;

}
.callicon {
    width: 45px;
    height: 45px;
    margin-right: 20px;
    margin-left: 35px;
}


.emailicon {
    width: 65px;
    height: 35px;
    margin-right: 20px;
    margin-left: 25px;
}
.numberr {
    padding-top: 0;
    margin-left: 20px;
}
.email {
    margin-left: 7px;
    padding-top: 0;
    
}

a {
    margin-left: 0;
    margin-top: 80px;
}
.fbicon {
    width:40px ;  
    margin-left: 30px;

}
.instaicon {
    width:50px ;

}
.tiktokicon {
    width:50px;
}

.section-c {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    padding: 100px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    align-items: center;
    transition:0.3s ease-in-out;
}

.section-c:hover {
background-color: rgb(138, 228, 250);
}
.footerr {
width: 100%;
height: 10vh;
}
